.env
venv
venv_linux
__pycache__
chroma_db
.gradio
.langgraph_api
light-rag-agent/.venv311/*


.DS_Store
light-rag-agent/LightRAG/.venv/*
light-rag-agent/LightRAG/.venv311/*

**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
light-rag-agent/LightRAG/docs/Golden Visa – Skilled Professionals (knowledge workers) (1).md
light-rag-agent/LightRAG/docs/test.md
